@import 'variables';

.single-message-container-h {
    @extend %singleMessageContainer;
    justify-content: start;

    .single-message {
        @extend %singleMessage;
        border-radius: 1rem 1rem 1rem 0;
    }

}

.single-message-container-a {
    @extend %singleMessageContainer;
    justify-content: end;


    .single-message {
        @extend %singleMessage;
        border-radius: 1rem 1rem 0 1rem;
    }

}