%container {
    display: flex;
    flex-direction: column;
    padding-inline: 1.5rem;
}

%singleMessageContainer {
    display: flex;
    width: 100%;
}

%singleMessage {
    display: flex;
    width: fit-content;
    max-width: 80%;
    min-width: 15%;
    // background-color: whitesmoke;
    // box-shadow: 2px 2px 10px #ddd;
}